repl_env/
Error_when_creating_repl_server.txt
requirements.txt
poetry.lock
pyproject.toml
.replit
__pycache__/
tempCodeRunnerFile.py
env/
test_spam.docx
test_spam/
test_spam.xlsx
test_spam.csv
translation.py