D:\Random_Docs\CODES_EXPOSCIENCES\AAA\Back_end_good\0. ServerReplAAA-master\repl_env\
D:\Random_Docs\CODES_EXPOSCIENCES\AAA\Back_end_good\0. ServerReplAAA-master\.vscode\
D:\Random_Docs\CODES_EXPOSCIENCES\AAA\Back_end_good\0. ServerReplAAA-master\__pycache__\
D:\Random_Docs\CODES_EXPOSCIENCES\AAA\Back_end_good\1. VersionOfTheBackEndOnRepl\requirements.txt